<nav class="bottom-navigation">
    <ul>
        <li>
            <a href="/" class="nav-link">
                <i class="fas fa-home" aria-hidden="true"></i>
                <span>Início</span>
            </a>
        </li>
        <li>
            <a href="/projetos" class="nav-link">
                <i class="fas fa-file-alt" aria-hidden="true"></i>
                <span>Projetos</span>
            </a>
        </li>
        <li>
            <a href="/contato" class="nav-link">
                <i class="fas fa-comment-dots" aria-hidden="true"></i>
                <span>Contato</span>
            </a>
        </li>
        <li>
            <a href="/sobre" class="nav-link active">
                <i class="fas fa-users" aria-hidden="true"></i>
                <span>Sobre</span>
            </a>
        </li>
    </ul>
</nav>
