<header id="header">
    <section class="menu-desktop">
        
        <a href="/adm" class="image-user">
                <img src="../../images/img-user.png" class="user" alt="logo" />
                <p>Admin</p>
            </a>
        
        <nav>
            <a href="/adm/painel-adm">Painel</a>
            <a href="/adm/usuarios-adm">Usuários</a>
            <a href="/adm/newsletter-adm">Newsletter</a>
            <a href="/adm/ongs-adm">Ongs</a>
            <a href="/adm/suporte-adm">Suporte</a>
        </nav>
        
    </section>

    <section class="menu-mobile">
        <a href="/adm" class="image-user">
            <img src="../../images/img-user.png" class="user" alt="logo" />
            <p>Admin</p>
        </a>
        
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        
        <nav class="menu">
            <a href="/adm/painel-adm">Painel</a>
            <a href="/adm/usuarios-adm">Usuários</a>
            <a href="/adm/newsletter-adm">Newsletter</a>
            <a href="/adm/ongs-adm">Ongs</a>
            <a href="/adm/suporte-adm">Suporte</a>
        </nav>
        
    </section>
</header>

<script src="..\JS\header.js"></script>